@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

img {
    width: 100%;
}

.section-header {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section-padding {
    padding: 20px 20px 40px;
}

/* Header */
.hero {
    position: relative;
    z-index: 1000;
}

/* Navbar */
#navbar {
    display: block;
    /* border: 1px solid red; test */
    height: 132px;
    padding: 0 20px;
    width: 100%;
    position: fixed;
}

.navbar-top {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding-top: .9375rem;
    /* padding-bottom: .9375rem; */
}

.navbar-down {
    display: flex;
    justify-content: center;
    border-top: 1px solid #0a0a0a;
    border-bottom: 1px solid #0a0a0a;
    background-color: #fff;
}

.navbar-down ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-down a {
    display: flex;
    text-transform: uppercase;
    padding: 5px;
    font-weight: 400;
    font-size: small;
    font-style: normal;
}

/* About */
.flex-columns .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.flex-columns .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
    height: 100%;
    padding: 20px;
}

.flex-columns img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flex-columns .column-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* padding: 30px; */
}

.flex-columns p {
    margin: 20px 0;
    font-size: 12px;
    font-weight: 200;
    font-family: 'Open Sans';
    color: black;
}

/* Previos work */
.flex-grid .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:30px 12px;
}

.flex-grid .column {
    flex: 33%;
    max-width: 30%;
    padding: 0px 12px;
}

/* Contact */
.contact {
    display: block;
}

.container-contact p,
.container-contact .callback-form {    
    display: flex;
    justify-content: center;
}

.callback-form {
    width: 100%;
    padding: 20px 0;
}

.callback-form label {
    display: block;
    margin-top: 10px;
    font-size: 12px;
    color: #9c9a9a;
}

.callback-form textarea {
    height: 120px;
}

.callback-form input,
.callback-form textarea {
    width: 50vw; /* 50% */
    border: 1px #ddd solid;
    background-color: #ededed;
    padding: 4px;
}

.callback-form input:focus,
.callback-form textarea:focus {
    outline-color: rgb(161, 160, 160);
}

.callback-form .btn-submit {
    margin-top: 15px;
    padding: 10px 0;
    background-color: #4c4c4c;
    border: transparent;
    color: #fff;
    width: 50vw;    
}

/* Footer */
.footer {
    width: 100%;
}

.footer .footer-top {
    background-color: #ededed;
    padding-top: 20px;
    padding-bottom: 3px;
    padding-left: 6px;
}

.footer .footer-bottom {
    background-color: #d8d8d8;
}

.footer-top .logo-footer {
    width: 15%;
}

.footer-top .footer-email a {
    color: #628696;
    font-size: 14px;
}

.footer-top .social {
    display: flex;
}

.social .wrapper-social-icon,
.social h4 {
    display: flex;
    flex-direction: row;
    padding-right: 10px;
    align-items: center;
}

.social h4 {
    font-style: normal;
    font-weight: 400;
    font-size: small;    
}

.wrapper-social-icon ul {
    display: flex;
}

.icon {
    width: 24px;
    height: 12px;
}

.footer-bottom p {
    color: #4c4c4c;
    font-size: 9px;
    /* font-size: .55rem; */
    padding: 4px 1px;
}

/* Image */
.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.myImg:hover {
    opacity: 0.7;
}